@model Capstone.Web.Models.Park

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Park</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acreage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acreage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElevationInFeet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElevationInFeet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilesOfTrail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilesOfTrail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCampsites)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCampsites)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Climate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Climate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearFounded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearFounded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualVistorCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualVistorCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspirationalQuote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspirationalQuote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspirationalQuoteSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspirationalQuoteSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfAnimalSpecies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfAnimalSpecies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
