@using Capstone.Web.Models
@model Survey

@{
    ViewBag.Title = "Daily Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Today's Survey:  What is your favorite National Park?</h2>

@using (Html.BeginForm("Survey", "Home", FormMethod.Post))
{
   
    <div>
        <div class="center">
            @Html.Label("ParkName", "Favorite Park:")
        </div>
        <div class=" center">
            @Html.DropDownListFor(m => m.ParkCode, Survey.ParkList)
        </div>
    </div>
    <div>
        <div class="center">
            @Html.Label("emailAddress", "Email:")
            </div>
        <div class="center">
            @Html.TextBoxFor(m => m.EmailAddress)
            </div>
        </div>
    <div>
        <div class="center">
            @Html.Label("State", "State:")
            </div>
        <div class=" center">
            @Html.DropDownListFor(m => m.State, Survey.States)
        </div>
        </div>
    <div>
        <div class="center">
            @Html.Label("CustomerExperienceLevel", "Activity Level:")
            </div>
        <div class="center">
            @Html.DropDownListFor(m => m.ActivityLevel, Survey.ActivityLevels)
        </div>
        </div>



    <button class="formSubmitButton">SUBMIT!</button>
}