@model IEnumerable<Capstone.Web.Models.Park>

@{
    ViewBag.Title = "SurveyResults";
}

<h2>SurveyResults</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ParkName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.NumberOfVotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.ParkName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfVotes)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
